@media (min-width: 375px) and (max-width: 600px) {
   
    .container {
        padding: 0 24px;
        width: 100%;
        margin: 0 auto;
    }

    header .container nav ul {
        display: none;
    }

    header .container button {
        display: none;
    }

   /* --------------------------

            HERO SECTION 

   ---------------------------*/

   

   main .hero-section .container {
       display: flex;
       flex-direction: column;
   }

   /*----------------------------

                BACKGROUND

   -------------------------------*/
   main .hero-section {
       height: auto;
       padding: 0;
       margin: 0;
   }

   
   main .hero-section-background {
    background-image: url("./images/bg-intro-mobile.svg");

    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    
    background-position: 0% -60%;
    background-size: 100%;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
   }

   main .hero-section-background::after {
    content: '';
    position: absolute;
    background-image: url("./images/image-mockups.png");
    
    width: 100%;
    height: 100%;

    background-size: 80%;
    background-position: center center;

    background-repeat: no-repeat;
    z-index: -3;
    top: -40%;
    right: 0;
   }

   main .hero-section .hero-section--text {
       width: 327px; 
       align-items: center;
       text-align: center;
   }

   main .hero-section .hero-section--text h1 {
       font-size: 40px;
   }

   main .hero-section .hero-section--text p {
       margin-top: 16px;
       font-size: 15px;
       line-height: 25px;
   }

   /*-----------------------------

            PSEUDO ELEMENT 

   ------------------------------*/
    /* .hero-section-background::before {
        content: "";
        background-image: url('./images/bg-intro-mobile.svg');
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        /* background-size: 754px 397px; */

        /*position: absolute;
        top: 0;
        right: 0;

        z-index: 1;

    }  */

    /*-----------------------------

                EASYBANK 

    ------------------------------*/
    
    .easybank-section {
        flex-direction: column;
        text-align: center;
    }

    .easybank-section .title {
        font-size: 32px;
    }

    .easybank-section .easybank-section-title p {
        font-size: 15px;
        line-height: 25px;
    }

    .easybank-section .easybank-cards {
        margin-top: 56px;
        display: flex;
        flex-direction: column;
    } 

    .easybank-section .easybank-cards .easybank-card {
        margin-bottom: 32px;
    }

    .easybank-section .easybank-cards h2 {
        padding-top: 24px;
        font-size: 20px;
        line-height: 28px;
    }

    .easybank-section .easybank-cards p {
        vertical-align: top;
        text-align: center;
        padding-top: 16px;
    }

    /* -------------------------------

            ARTICLES SECTION 

    --------------------------------*/

    .articles-section {
        flex-direction: column;
        
    }

    .articles-section .container {
        padding: 0 24px;
    }

    .articles-section .title {
        font-size: 32px;
        text-align: center;
    }

    .articles-section .articles-cards {
        display: flex;
        flex-direction: column;
    }

    .articles-section .articles-cards .article-card {
        margin-bottom: 24px;
        width: 100%;
    }

    .article-card img {
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
    }


    /*-----------------------------

                FOOTER  

    -----------------------------*/

    footer .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    footer .social-icons a {
        padding-left: 16px;
    }

    footer .footer-menu ul {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }

    footer .footer-menu ul li {
        margin-top: 8px;
    }

    footer .footer-wrap-end {
        margin-top: 32px;
        align-items: center;
    }

}