:root {
    --button-color: linear-gradient(135deg, #33d35e, #2ab6d9);
    --primary-color: #2d314d;
    --grey-color: #9597a5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

a {
    text-decoration: none;
}

body {
    font-family:'Public Sans', sans-serif;

    margin: auto;
    background-color: #fafafa;
    background-image: url('./images/bg-intro-desktop.svg');

    background-position-x: 640px;
    background-position-y: -180px;
    background-repeat: no-repeat;

    min-height: 100vh;
    

    overflow-x: hidden;
}

body::after {
    content: "";
    background-image: url('./images/image-mockups.png');
    background-repeat: no-repeat;


    position: absolute;
    top: 0;
    left: 824px;

    width: 100%;
    height: 901px;

    z-index: 10;    
}

button {
    cursor: pointer;
}

button:hover {
    opacity: 40%;
}


.container {
    width: 100%;
    background-color: white;

    position: relative;
    z-index: 2000;
    
}

header {
    
    height: 80px; 

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    margin: 0 auto;

    background-color: white;

}

header .logo img {
   width: 139px;
   height: 20px;

}


header nav ul {
    display: flex;
    
}

header nav ul li {
    text-decoration-style: none;
    list-style: none;

    color: #9597A5;
    font-family:'Public Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding-left: 30px;
   
}

header nav ul li a {
    text-decoration: none;
    color:  #9597A5;
    padding-top: 26px;
    padding-bottom: 26px;
}

header nav ul li a:hover {
    border-bottom: 4px solid  #33d35e;
}

.btn {
    width: 163px;
    height: 44px;
    background-image: var(--button-color);
    border: 0;
    border-radius: 22px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    line-height: 2px;
}

button:hover {
    background-color: black;
}

main {
    width: 50%;
    height: 676px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main-text {
    max-width: 567px;
    width: 447px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

main .main-text h1 {
    color: var(--primary-color);
    font-size: 56px;
    font-weight: 100;
    line-height: 64px;
}

main .main-text p {
    margin-top: 30px;
    color: #9597a5;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

main .main-text button {
    margin-top: 30px;
    height: 44px;
    width: 163px;

    background-image: var(--button-color);
}

section {
    background-color: #f4f5f7;
    padding: 96px 165px;
    
}

section .section-1-header {
    max-width: 635px;
    
}

.title {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 100;
}

section .section-1-header p {
    margin-top: 16px;
    font-size: 18px;
    color: var(--grey-color);
    line-height: 28px;
    font-weight: 400;
    z-index: -10;
}

section .section-1-cards {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    
}

section .section-1-cards h2 {
    padding-top: 40px;
    color: var(--primary-color);
    font-weight: 100;
    font-size: 24px;
    line-height: 28px;
   
}

section .section-1-cards p {
    padding-top: 26px;
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    text-align: left;
}

.section-2 {
    background-color: #fafafa;
    padding: 96px 165px;

}

.section-2-cards {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
    grid-gap: 30px;
}

.section-2-card {
    width: 255px;
    height: 395px;
    background-color: #ffffff;
    border-radius: 5px;
}

.section-2-card img {
    width: 255px;
    height: 200px;
}

.section-2-card .text-wrapper {
    padding: 25px 24px;
}

.section-2-card h4 {
    
    font-size: 10px;
    color: var(--grey-color);
    line-height: 18px;
    font-weight: 400;
}

.section-2-card h2 {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 100;
    color: var(--primary-color);
    line-height: 20px;
}

.section-2-card a {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
}

.section-2-card a:hover {
    color: #30C88F;
}

.section-2-card p {
    padding-top: 8px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: var(--grey-color);
}

footer {
    background-color: var(--primary-color);

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 191px;
}

footer .footer-wrap-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

footer .footer-wrap-1 .footer-logo {
    text-align: center;
}

footer .footer-wrap-1 .footer-logo img {
    width: 139px;
    height: 20px;

}

footer .footer-wrap-1 .social-icons {
    margin-top: 70px;
}

footer .footer-wrap-1 .social-icons span {
    margin-left: 13px;
}


/* teste */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
}


.icon-facebook {
    background-image: url('./images/icon-facebook.svg');
    cursor: pointer;
}

.icon-facebook:hover {
    background-image: url('./images/icon-facebook-green.svg');
}

.icon-youtube {
    background-image: url('./images/icon-youtube.svg');
    cursor: pointer;
}

.icon-youtube:hover {
    background-image: url('./images/icon-youtube-green.svg');
}

.icon-twitter {
    background-image: url('./images/icon-twitter.svg');
    cursor: pointer;
}

.icon-twitter:hover {
    background-image: url('./images/icon-twitter-green.svg');
    cursor: pointer;
}

.icon-pinterest {
    background-image: url('./images/icon-pinterest.svg');
    cursor: pointer;
}

.icon-pinterest:hover {
    background-image: url('./images/icon-pinterest-green.svg');
}

.icon-instagram {
    background-image: url('./images/icon-instagram.svg');
    cursor: pointer;
}

.icon-instagram:hover {
    background-image: url('./images/icon-instagram-green.svg');
}

footer .footer-wrap-2 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

}

footer .footer-wrap-2 ul li {
    list-style: none;
    color:#ffffff;
    font-size: 15px;
    font-weight: 400;
}

footer .footer-wrap-2 ul li a {
    color: #ffffff;
}

footer .footer-wrap-2 ul li a:hover {
    color: #30C88F;
}

footer .footer-wrap-3 {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;

}

footer .footer-wrap-3 p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;

    color: #ffffff;
    opacity: 50%;
}